<div class="container">
    <div class="global-travel-option">
    <!-- Image of the city with text overlay -->
    <div class="city-image-container">
    <img [src]="'assets/images/' + globalTravelOption.destination.toLowerCase().replace(' ', '-') + '.jpeg'" alt="{{ globalTravelOption.destination }}">
      <div class="text-overlay">
        <div class="city-name">{{ globalTravelOption.destination }}</div>
        <!-- CO2 quantity below the image -->
        <div class="co2-quantity">CO2: {{ (globalTravelOption.co2Quantity / 1000).toFixed(0) }} kg</div>
      </div>
    </div>
    <!-- Travel information on the right side of the image -->
     <div class="travel-info">
      <h3>Informations de voyage</h3>
      <div class="travel-options">
        <app-travel-option *ngFor="let travelOption of globalTravelOption.globalTravelOption" [travelOption]="travelOption"></app-travel-option>
      </div>
    </div>
  </div>
</div>